@import url("https://fonts.cdnfonts.com/css/apercu-pro");
@import url("https://fonts.cdnfonts.com/css/groupe");

* {
  font-family: "Apercu Pro", sans-serif;
}
/* navigation bar */

.nav {
  display: block;
  float: right;
  padding-top: 1em;
  padding-right: 5em;
}

a {
  color: black !important;
  text-decoration: none !important;
  padding-right: 5em;
  font-weight: 600;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  float: right;
  display: none;
}
li {
  list-style: none;
}
.fa {
  transform: scale(1.5, 1);
}

@media only screen and (max-width: 682px) {
  .menu {
    display: none;
  }
  button {
    display: block;
  }
  ul.nav {
    padding: 0;
    float: left;
    display: inline-block;
    background-color: black;
    padding: 2em;
    height: 20em;
    width: 20em;
    position: absolute;
  }
  a {
    padding: 0;
    color: white !important;
  }
  li:not(button) {
    padding: 1em;
    text-align: center;
  }
}

/* end of navigation bar */

/* next section with women */
.col-md-a {
  font-size: 12em;
  font-family: "GROUPE", sans-serif;
}
.img-thumbnail {
  height: 20em !important;
  background-color: none !important;
  border: none !important;
  border-radius: none !important;
}
img:hover {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

@media only screen and (max-width: 682px) {
  .col-md-a {
    font-size: 8em;
  }
}

@media only screen and (max-width: 460px) {
  .col-md-a {
    font-size: 4em;
  }
}
/* end of section */

/* 3 models */

.row,
h2 {
  text-transform: uppercase !important;
  font-size: 14px !important;
}

@media only screen and (max-width: 575px) {
  .col-sm {
    text-align-last: center;
  }
}

/* end of section */

/* footer */
.footer-logo {
  font-size: 2em;
  font-family: "GROUPE", sans-serif;
}

/* end of footer */

/* newsletter */
.news-container {
  background-color: #000000;
  color: #ffffff;
  padding: 4em;
  margin: 3em;
}
input[type="text"] {
  background-color: #000000;
  padding: 1em;
  border: 1px solid #fff;
  outline: none !important;
  -webkit-appearance: none;
  color: #fff;
}
input[type="submit"] {
  position: absolute;
  background-color: #000000;
  border: 0;
  color: #fff;
  padding: 1em;
}

input[type="submit"] {
  width: 4.100000000000001em;
}
@media only screen and (max-width: 772px) {
}

/* end of section */
